<title>{{'titles.chambers' | translate}}</title>
<h4 class="custom-page-title"><span>{{'titles.chambers' | translate}}</span></h4>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-10">
        <button (click)="goToAdd()" class="btn btn-add btn-success">
          <i class="fa fa-plus"></i>
          {{'buttons.add' | translate}}
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <tr>
          <td class="ref-col"><strong>{{'shared.ref' | translate}}</strong></td>
          <td class="type-col"><strong>{{'shared.type' | translate}}</strong></td>
          <td class="hotel-col"><strong>{{'shared.hotel' | translate}}</strong></td>
          <td class="action-col"><strong>{{'shared.action' | translate}}</strong></td>
        </tr>
        <tr class="row-data" *ngFor="let chamber of chambers" (click)="goToEdit(chamber.id)">
          <td class="ref-col">
            {{chamber.ref}}
          </td>
          <td class="type-col">
            {{chamber.type}}
          </td>
          <td class="hotel-col">
            {{chamber.hotelName}}
          </td>
          <td class="action-col">
            <button class="btn btn-sm btn-outline-primary" (click)="goToEdit(chamber.id); $event.stopPropagation()">{{'buttons.edit' | translate}}</button> &nbsp;
            <button class="btn btn-sm btn-outline-danger" (click)="onDelete(chamber.id, chamber.ref); $event.stopPropagation()">{{'buttons.delete' | translate}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
