<title>{{title | translate}}</title>
<h4 class="custom-page-title"><span>{{title | translate}}</span></h4>
<div class="row">
  <div class="col-lg-6 offset-md-3">
    <form [formGroup]="form" (submit)="onSubmit()" >
      <div class="form-group">
        <label for="name">{{'shared.language' | translate}}</label>
        <angular2-multiselect
        formControlName="language"
        [data]="langs"
        [(ngModel)]="selectedLang"
        [settings]="dropdownSettings">
          <c-item>
            <ng-template let-item="item">
              <i [ngClass]="item.icon" style="width: 30px; margin-right: 10px;"></i>
              <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
            </ng-template>
          </c-item>
        </angular2-multiselect>
      </div>
      <div class="form-group">
          <label for="name">{{'shared.theme' | translate}}</label>
          <angular2-multiselect
          formControlName="theme"
          [data]="themes"
          [(ngModel)]="selectedTheme"
          [settings]="themesSettings">
          </angular2-multiselect>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success"> {{btn | translate}} </button>
      </div>
    </form>
  </div>
</div>




