<title>{{'titles.reservations' | translate}}</title>
<h4 class="custom-page-title"><span>{{'titles.reservations' | translate}}</span></h4>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-10">

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <tr>
          <td class="name-col"><strong>{{'shared.name' | translate}}</strong></td>
          <td class="city-col"><strong>{{'shared.duration' | translate}}</strong></td>
          <td class="stars-col"><strong>{{'shared.price' | translate}}</strong></td>
        </tr>
        <tr class="row-data" *ngFor="let reservation of reservations" (click)="goToEdit(reservation.id)">
          <td class="name-col">
            {{reservation.client.name}}
          </td>
          <td class="name-col">
            {{reservation.duration}}
          </td>
          <td class="name-col">
            {{reservation.price}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
